@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    padding: 10px 0px;
    height: clamp(50px, 20vh, 200px);
    background-color: rgb(128, 128, 245);
    font-size: 40px;
    color: rgb(70, 50, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.add-book-button {
    width: 150px;
    height: 75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background-color: rgb(70, 50, 109);
    color: rgb(128, 128, 245);
    border: 3px solid rgb(121, 68, 165);
}