@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
}


/* --------------------- BEGIN HEADER --------------------- */

.header {
    padding: 10px 0px;
    height: 20vh;
    background-color: rgb(128, 128, 245);
    font-size: 50px;
    color: rgb(70, 50, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.add-book-button {
    width: 150px;
    height: 75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background-color: rgb(70, 50, 109);
    color: rgb(128, 128, 245);
    border: 3px solid rgb(121, 68, 165);
}

/* --------------------- BEGIN GRID/CARDS --------------------- */

.card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 1em;
}

.card-holder > div {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    row-gap: 10px;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.247);
}

.card-author {
    background-color: rgb(207, 130, 67);
}

.card-pages {
    background-color: rgb(150, 86, 202);
}

.read {
    background-color: rgb(119, 209, 68);
    color: green;
}

.not-read {
    background-color: rgb(139, 31, 82);
    color: red;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container > button{
    width: 50%;
}
/* --------------------- BEGIN MODAL --------------------- */

.modal-container {
    background-color:rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0; /* hides modal */
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-button{
    background-color: #523980;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal {
    background-color: rgb(132, 143, 202);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px 40px;
    max-width: 100%;
    text-align: center;
}

.form {
    font-size: 17px;
    color: black;
    padding-bottom: 4px;
}


::placeholder {
    font-size: 17px;
    color: rgb(77, 77, 77);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

input[type=checkbox]{
    width: 16px;
    height: 16px;
}

input[type=text], input[type=number]{
    height: 23px;
    width: 90%;
    font-size: 17px;
}